.board {
  margin-top: 5%;
  display: flex;
  gap:4px;
  flex-direction: column;
  align-items: center;
  
} 
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-grow: 1;
}

.row{
  display:flex;
  gap: 4px;
}

.box{
  height:50px;
  width:50px;
  border: 2px solid rgb(63, 63, 63);;
  align-items: center;
  justify-content: center;
  display:flex;
  font-size: large;
  font-weight: bold;
  font-family: 'Franklin Gothic';
  color: white;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the value for the desired jump height */
  }
}

.jumping {
  animation: jump 0.5s ease-in-out; /* Adjust the duration and timing function */
}

.correct{
  background-color: #7bc074;
  border-color: #7bc074;
  animation-name: greenFade;
  animation-duration: 0.5s;
}
.found{
  background-color: #dbc85b;
  border-color: #dbc85b;
  animation-name: yellowFade;
  animation-duration: 0.5s;
}
.incorrect{
  background-color: rgb(63, 63, 63);
  animation-name: greyFade;
  animation-duration: 0.5s;
}

@keyframes greenFade {
  from {background-color: rgb(28, 28, 28);}
  to {background-color: #7bc074;}
}
@keyframes yellowFade {
  from {background-color: rgb(28, 28, 28);}
  to {background-color: #dbc85b;}
}
@keyframes greyFade {
  from {background-color: rgb(28, 28, 28);}
  to {background-color: rgb(63, 63, 63);}
}

