.board {
  margin-top: 5%;
  display: flex;
  gap:5px;
  flex-direction: column;
  align-items: center;
  
} 
.game{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;

  flex-grow: 1;
}

.row{
  display:flex;
  gap: 5px;
}

.box{
  height:50px;
  width:50px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  display:flex;
  font-size: large;
  font-family: 'Franklin Gothic';
}

.correct{
  background-color: #7bc074;
  animation-name: greenFade;
  animation-duration: 0.5s;
}
.found{
  background-color: #dbc85b;
  animation-name: yellowFade;
  animation-duration: 0.5s;
}
.incorrect{
  background-color: #7d7e7e;
  animation-name: greyFade;
  animation-duration: 0.5s;
}

@keyframes greenFade {
  from {background-color: white;}
  to {background-color: #7bc074;}
}
@keyframes yellowFade {
  from {background-color: white;}
  to {background-color: #dbc85b;}
}
@keyframes greyFade {
  from {background-color: white;}
  to {background-color: #7d7e7e;}
}

