h1 {
  justify-content: center;
  display: flex;
}

h4 {
  display:flex;
  justify-content: center;
  margin-bottom: 0;;
}

.results{
  display: flex;
  justify-content: center;
}

.actions{
  display: flex;
  justify-content: center;
  margin: 5px;
}